.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--color-background);
  animation: fadeIn 0.1s ease-in-out forwards;
 
  opacity: 0;
  color: var(--color-text)
  
}


.hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000002;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover .hamburgerLine{
  background-color: var(--color-accent);

}

.hamburgerLine {
  width: 30px;
  height: 4px;
  background: var(--color-text);
  margin: 3px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;

}

.hamburger.open .hamburgerLine:nth-child(1) {
  transform: translateY(10px)  rotate(-45deg);
}

.hamburger.open .hamburgerLine:nth-child(2) {
  
  opacity: 0;
}

.hamburger.open .hamburgerLine:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

.nav {
  display: flex;
  flex-direction: column;
  
}

.nav ul {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 2rem;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.nav ul:nth-child(3) {
  transition: all 0.3s ease-in-out
 
}

.closed {
  display: none;
  
}


.nav li {
  list-style-type: none;
  font-size: 2rem;
  
}

  .nav li:hover {
    cursor: grab;
    color: var(--color-accent);
  }
    
  @media (min-width: 900px) {

    .stickyHeader{
      height: auto;
    }
      
      .hamburger {display: none;}

      .closed {
        display: inline-block;
      }
    
      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      .nav ul {
        display: flex;
        flex-direction: row;
    
      }

      .nav li {
        list-style-type: none;
        font-size: 1rem;
        
      }
/*     
        .nav li:hover {
          cursor: grab;
          color: blue;;
        } */
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

   